CompileFlags:
  CompilationDatabase: >-
    c:\Users\User\OneDrive\Desktop\Compass-beforepcbcompatibility\WIP_I2C\WorkingCompass\CompassWIP\Working
    IMU
    INTERFACE\Compass-fd7f116e334899c734246d80db1a72c8df7847e7\Code\out\gpio_led_output\iar\release
  Add: []
